<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


    <extension
         point="org.eclipse.ui.views">
      <category
            name="deepnoodle"
            id="deepnoodle">
      </category>
      <view
            name="Open Editors"
            icon="icons/deepnoodle.ico"
            category="deepnoodle"
            class="com.deepnoodle.openeditors.views.openeditors.OpenEditorsMainView"
            id="EditorsView">
      </view>
   </extension> 

   

</plugin>
