<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="org.eclipse.ui.views">
      <category
            name="deepnoodle"
            id="deepnoodle">
      </category>
      <view
            category="deepnoodle"
            class="com.deepnoodle.openeditors.ui.OpenEditorsMainView"
            icon="icons/open_editors_view_icon.png"
            id="com.deepnoodle.openeditors.view"
            name="Open Editors">
      </view>
   </extension> 
   
   <extension point="org.eclipse.ui.bindings">
  <key
     commandId="org.eclipse.ui.views.showView"
     schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
     sequence="M1+M2+M3+E">
     <parameter
          id="org.eclipse.ui.views.showView.viewId"
          value="com.deepnoodle.openeditors.view">
     </parameter>
 </key>
</extension>

</plugin>
